{% extends "base.html" %}
{% block container %}
<div class="md-content" data-md-component="content">
    <link rel="stylesheet" type="text/css" href="/stylesheets/swagger-ui.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/swagger-ui.extra.css" />
    <script src="/js/swagger-ui-bundle.js" charset="UTF-8"> </script> 
    
    <script>
        // `SwaggerUI` is defined directly in this template 
        // to be available before page content may reference it.
        // It will handle cases where `SwaggerUIBundle` is not yet
        // available and initializes it when possible. 
        // It also shadows original `SwaggerUI` function as it is 
        // not compatible with the documentation environment.
        // Always use this function instead of `SwaggerUIBundle`.
        function SwaggerUI(config) {
            if (config.dom_id == null) {
                config.dom_id = '#swagger-ui';
            }
            if (config.deepLinking == null) {
                config.deepLinking = true;
            }
            if (config.defaultModelsExpandDepth == null) {
                config.defaultModelsExpandDepth = 0;
            }

            function initSwaggerUIBundle() {
                if (typeof SwaggerUIBundle === 'undefined') {
                    setTimeout(initSwaggerUIBundle, 100);
                    return;
                }
                try {
                    SwaggerUIBundle(config);
                } catch (error) {
                    window.addEventListener('load', function() {
                        SwaggerUIBundle(config);
                    });
                }
            }

            initSwaggerUIBundle();
        }
    </script>
    
    <article class="md-content__inner md-typeset">
    {% block content %}
        {% include "partials/tags.html" %}
        {% include "partials/actions.html" %}
        {{ page.content }}
        {% include "partials/source-file.html" %}
        {% include "partials/feedback.html" %}
        {% include "partials/comments.html" %}
    {% endblock %}
    </article>

    {% if "\x3ch1" in page.content %}
    <div class="md-content__inner-swagger-spacer"></div>
    {% endif %}

    <div id="swagger-ui" class="md-typeset"></div>
</div>       
{% endblock %}
