{% extends "base.html" %}
{% block htmltitle %}
    {% if page.meta and page.meta.title %}
        <title>{{ page.meta.title }}</title>
    {% elif page.title and not page.is_homepage %}
        <title>{{ page.title | striptags }}</title>
    {% else %}
        <title>{{ config.site_name }}</title>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="md-content" data-md-component="content">
        <article class="md-content__inner md-typeset">
            <link rel="stylesheet" type="text/css" href="/stylesheets/swagger-ui.css" />
            <link rel="stylesheet" type="text/css" href="/stylesheets/swagger-extra.css" />
            <div id="swagger-ui"></div>
            <script src="/js/swagger-ui-bundle.js" charset="UTF-8"> </script>
            {{ page.content }}
        </article>
    </div>
{% endblock %}
