:root {
    /* Brand Colors */
    --aiuta-color-brand: #000000;
    --aiuta-color-primary: #000000;
    
    /* Global Typeface */
    --aiuta-typeface: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
