{
  "openapi": "3.1.0",
  "info": {
    "title": "Unified",
    "description": "",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aiuta.com/v1"
    }
  ],
  "paths": {
    "/uploaded_images": {
      "post": {
        "tags": [
          "data"
        ],
        "summary": "Upload an image as bytes",
        "description": "Upload an image and save it with unique ID. By default mime-type is 'image/png' and extension is '.png'.",
        "operationId": "upload_user_image_uploaded_images_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_user_image_uploaded_images_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiutaImage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/uploaded_images/{image_id}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get an uploaded image",
        "description": "Get user's uploaded image",
        "operationId": "get_user_uploaded_image_uploaded_images__image_id__get",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Image Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiutaImage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "data"
        ],
        "summary": "Delete an uploaded image",
        "description": "You can delete images uploaded by the same API user. It is not possible to delete images with the 'aiuta' owner (such as try-on model images).",
        "operationId": "delete_uploaded_image_uploaded_images__image_id__delete",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Image Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/generated_images/{image_id}": {
      "delete": {
        "tags": [
          "data"
        ],
        "summary": "Delete a generated image",
        "description": "This method deletes a generated image. Only images of type 'user' (derived from user-uploaded images) can be deleted.",
        "operationId": "delete_generated_image_generated_images__image_id__delete",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Image Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/sku_items": {
      "post": {
        "tags": [
          "sku_items"
        ],
        "summary": "Create a SKU item",
        "description": "Creates a new SKU item under the client account.\n\n- `item_id` is client-defined and becomes the primary identifier in the API.\n- Enabling capabilities may trigger internal preparation; readiness is returned in `capabilities_readiness`.\n- Returns the created SKU item.",
        "operationId": "create_sku_item_single_api_product_sku_items_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSkuItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuItem"
                }
              }
            }
          },
          "400": {
            "description": "The request is syntactically valid but cannot be processed (business validation failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Service temporary unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Returned by API Gateway when API key or token is missing or invalid."
          },
          "403": {
            "description": "Returned by API Gateway when access is not allowed."
          },
          "429": {
            "description": "Returned by API Gateway when rate limits are exceeded."
          },
          "409": {
            "description": "SKU item with this item_id already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Returned when the request payload is structurally invalid or contains invalid field values. The response format follows FastAPI / Pydantic defaults."
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/sku_items/{item_id}": {
      "get": {
        "tags": [
          "sku_items"
        ],
        "summary": "Get a SKU item",
        "description": "Returns the SKU item by `item_id`, including readiness for enabled capabilities.",
        "operationId": "get_sku_item_single_api_product_sku_items__item_id__get",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Client-defined SKU item identifier. Must be unique within the client account.",
              "examples": [
                "sku_12345"
              ],
              "title": "Item Id"
            },
            "description": "Client-defined SKU item identifier. Must be unique within the client account."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuItem"
                }
              }
            }
          },
          "400": {
            "description": "The request is syntactically valid but cannot be processed (business validation failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Service temporary unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Returned by API Gateway when API key or token is missing or invalid."
          },
          "403": {
            "description": "Returned by API Gateway when access is not allowed."
          },
          "429": {
            "description": "Returned by API Gateway when rate limits are exceeded."
          },
          "404": {
            "description": "SKU item does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "sku_items"
        ],
        "summary": "Delete a SKU item",
        "description": "Deletes the SKU item. Returns no content.",
        "operationId": "delete_sku_item_single_api_product_sku_items__item_id__delete",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Client-defined SKU item identifier. Must be unique within the client account.",
              "examples": [
                "sku_12345"
              ],
              "title": "Item Id"
            },
            "description": "Client-defined SKU item identifier. Must be unique within the client account."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. SKU item deleted."
          },
          "400": {
            "description": "The request is syntactically valid but cannot be processed (business validation failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Service temporary unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Returned by API Gateway when API key or token is missing or invalid."
          },
          "403": {
            "description": "Returned by API Gateway when access is not allowed."
          },
          "429": {
            "description": "Returned by API Gateway when rate limits are exceeded."
          },
          "404": {
            "description": "SKU item does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/sku_items/{item_id}/capabilities": {
      "patch": {
        "tags": [
          "sku_items"
        ],
        "summary": "Replace capabilities",
        "description": "Replaces the entire `capabilities` block for the SKU item. The request body is treated as a full replacement: omitted fields are reset (to their default value, empty value, or null depending on the field).\n\nEnabling or disabling capabilities may trigger internal preparation. Current readiness is returned in `capabilities_readiness`. Enabling, disabling, or changing requested image variants may trigger preparation. Readiness for newly enabled/changed capabilities may start as preparing.",
        "operationId": "update_sku_item_capabilities_single_api_product_sku_items__item_id__capabilities_patch",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Client-defined SKU item identifier. Must be unique within the client account.",
              "examples": [
                "sku_12345"
              ],
              "title": "Item Id"
            },
            "description": "Client-defined SKU item identifier. Must be unique within the client account."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkuCapabilities-Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuItem"
                }
              }
            }
          },
          "400": {
            "description": "The request is syntactically valid but cannot be processed (business validation failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Service temporary unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Returned by API Gateway when API key or token is missing or invalid."
          },
          "403": {
            "description": "Returned by API Gateway when access is not allowed."
          },
          "429": {
            "description": "Returned by API Gateway when rate limits are exceeded."
          },
          "404": {
            "description": "SKU item does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Returned when the request payload is structurally invalid or contains invalid field values. The response format follows FastAPI / Pydantic defaults."
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/sku_items/{item_id}/merchandising": {
      "patch": {
        "tags": [
          "sku_items"
        ],
        "summary": "Replace merchandising",
        "description": "Replaces the entire `merchandising` block for the SKU item. Note: this endpoint does not support partial updates. The request body is treated as a full replacement: omitted fields are reset (to their default value, empty value, or null depending on the field).\n\nUpdating merchandising attributes typically does not require the whole SKU item re-processing, but may affect downstream scenarios (e.g., recommendation flows).",
        "operationId": "update_sku_item_merchandising_single_api_product_sku_items__item_id__merchandising_patch",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Client-defined SKU item identifier. Must be unique within the client account.",
              "examples": [
                "sku_12345"
              ],
              "title": "Item Id"
            },
            "description": "Client-defined SKU item identifier. Must be unique within the client account."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkuMerchandising"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuItem"
                }
              }
            }
          },
          "400": {
            "description": "The request is syntactically valid but cannot be processed (business validation failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Service temporary unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Returned by API Gateway when API key or token is missing or invalid."
          },
          "403": {
            "description": "Returned by API Gateway when access is not allowed."
          },
          "429": {
            "description": "Returned by API Gateway when rate limits are exceeded."
          },
          "404": {
            "description": "SKU item does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Returned when the request payload is structurally invalid or contains invalid field values. The response format follows FastAPI / Pydantic defaults."
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/recommendations/outfits/{item_id}": {
      "get": {
        "tags": [
          "recommendations"
        ],
        "summary": "Get outfit recommendations for SKU item",
        "description": "Returns outfit recommendations for the given SKU item.\n\n- The requested SKU item is always included as the first element of `Outfit.sku_item_ids`.\n- The response contains exactly `count` outfits.\n\nThis endpoint requires the Outfit Recommendations capability to be enabled and ready for the SKU item:\n- `SkuItem.capabilities.outfit_recommendations == true`\n- `SkuItem.capabilities_readiness.outfit_recommendations.status == \"ready\"`\n\nIf the capability is disabled or not ready, the request fails with status code 409.",
        "operationId": "get_outfit_recommendations_single_api_product_recommendations_outfits__item_id__get",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "SKU item identifier.",
              "title": "Item Id"
            },
            "description": "SKU item identifier."
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 5,
              "exclusiveMinimum": 0,
              "description": "Number of outfits to return.",
              "default": 3,
              "title": "Count"
            },
            "description": "Number of outfits to return."
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional user identifier used for personalization. If omitted, recommendations are non-personalized.",
              "title": "User Id"
            },
            "description": "Optional user identifier used for personalization. If omitted, recommendations are non-personalized."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Outfit"
                  },
                  "title": "Response Get Outfit Recommendations Single Api Product Recommendations Outfits  Item Id  Get"
                }
              }
            }
          },
          "400": {
            "description": "The request is syntactically valid but cannot be processed (business validation failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Service temporary unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Returned by API Gateway when API key or token is missing or invalid."
          },
          "403": {
            "description": "Returned by API Gateway when access is not allowed."
          },
          "429": {
            "description": "Returned by API Gateway when rate limits are exceeded."
          },
          "404": {
            "description": "SKU item does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Outfit recommendations are not available for this SKU item (capability disabled or not ready).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Returned when the request payload is structurally invalid or contains invalid field values. The response format follows FastAPI / Pydantic defaults."
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/flat_lay_operations": {
      "post": {
        "tags": [
          "flat_lay"
        ],
        "summary": "Create a flat-lay generation operation",
        "description": "Starts an asynchronous operation to generate a flat-lay product image.\n\nYou must provide exactly one of:\n- `product_info` (inline product data), or\n- `sku_item_id` (generate using a previously created SKU).\n\nWhen `sku_item_id` is used, the SKU must have the corresponding product-images capability enabled and ready.\nUse `GET /sku_items/{item_id}` to check readiness.\n\nThe response contains an operation ID. Poll `GET /flat_lay_operations/{operation_id}` until the operation completes and `generated_image` is available.",
        "operationId": "create_flat_lay_operation_single_api_product_flat_lay_operations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateFlatLayImageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is syntactically valid but cannot be processed (business validation failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Service temporary unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Returned by API Gateway when API key or token is missing or invalid."
          },
          "403": {
            "description": "Returned by API Gateway when access is not allowed."
          },
          "429": {
            "description": "Returned by API Gateway when rate limits are exceeded."
          },
          "404": {
            "description": "SKU item does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Flat-lay generation is not available for this SKU item (capability disabled or not ready).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Returned when the request payload is structurally invalid or contains invalid field values. The response format follows FastAPI / Pydantic defaults."
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/flat_lay_operations/{operation_id}": {
      "get": {
        "tags": [
          "flat_lay"
        ],
        "summary": "Get a flat-lay generation operation",
        "description": "Returns the operation details, including its status and the generated image (if completed).\n\nIf the operation is still running or failed, `generated_image` may be absent.",
        "operationId": "get_flat_lay_operation_single_api_product_flat_lay_operations__operation_id__get",
        "parameters": [
          {
            "name": "operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Operation ID",
              "title": "Operation Id"
            },
            "description": "Operation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateFlatLayImageOperation"
                }
              }
            }
          },
          "400": {
            "description": "The request is syntactically valid but cannot be processed (business validation failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Service temporary unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Returned by API Gateway when API key or token is missing or invalid."
          },
          "403": {
            "description": "Returned by API Gateway when access is not allowed."
          },
          "429": {
            "description": "Returned by API Gateway when rate limits are exceeded."
          },
          "404": {
            "description": "Operation not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AiutaImage": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Image ID"
          },
          "owner_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OwnerType"
              }
            ],
            "description": "Type of the image owner. It will be 'user' if the image was directly uploaded by the user or derived from a user upload (e.g., through a generation operation). Otherwise, it will be 'aiuta'. In this case the image is not associated with users' personal data and does not belong to them."
          },
          "url": {
            "type": "string",
            "title": "Url",
            "description": "Image URL"
          }
        },
        "type": "object",
        "required": [
          "id",
          "owner_type",
          "url"
        ],
        "title": "AiutaImage",
        "examples": [
          {
            "id": "user_image-06f5948c-c031-4662-a7c4-4d999b445c86",
            "owner_type": "user",
            "url": "https://storage.googleapis.com/aiuta_prod_external_api_images/external_api/user/examples/uploaded_images/user_image-06f5948c-c031-4662-a7c4-4d999b445c86.jpg"
          }
        ]
      },
      "ApiError": {
        "properties": {
          "code": {
            "type": "string",
            "title": "Code",
            "description": "Stable error code identifier."
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Human-readable error message."
          },
          "details": {
            "anyOf": [
              {
                "additionalProperties": {
                  "$ref": "#/components/schemas/JsonValue"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Details",
            "description": "Optional structured error details (JSON-serializable)."
          }
        },
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "title": "ApiError",
        "description": "Error response returned for non-2xx responses.\n\n`code` is a stable machine-readable identifier.\n`message` is a human-readable description.\n`details` may provide structured context (not guaranteed to be stable)."
      },
      "BackgroundSettings": {
        "properties": {
          "background_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BackgroundType"
              }
            ],
            "description": "Type of background to apply in the generated image (e.g., arbitrary, transparent or reference-colored)."
          },
          "reference_color": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reference Color",
            "description": "Optional reference color for background generation. Used only if `background_type` is set to 'reference_color'. The resulting background will not be a flat solid fill, but rather a blend of gradients and tones inspired by the specified color. The chosen color serves as the visual base or anchor. Must be a valid RGB hex code (e.g., '#80ff00')."
          }
        },
        "type": "object",
        "required": [
          "background_type"
        ],
        "title": "BackgroundSettings",
        "description": "Configuration for generating the background of an image.\n\nThe background may be one of several types: arbitrary (default), transparent or reference-based.\nDepending on the selected `background_type`, additional fields may be required:\n\n- If `background_type` is 'reference_color', a valid RGB hex color must be provided via `reference_color`.\n  The background will be generated based on this color as a visual base, but not as a solid fill.\n\nThe model enforces consistency between the selected type and the presence or absence of these additional fields."
      },
      "BackgroundType": {
        "type": "string",
        "enum": [
          "arbitrary",
          "transparent",
          "reference_color"
        ],
        "title": "BackgroundType",
        "description": "Defines how the background will be generated (e.g., solid, transparent or reference-colored)."
      },
      "Body_upload_user_image_uploaded_images_post": {
        "properties": {
          "image_data": {
            "type": "string",
            "format": "binary",
            "title": "Image Data"
          }
        },
        "type": "object",
        "required": [
          "image_data"
        ],
        "title": "Body_upload_user_image_uploaded_images_post"
      },
      "CreateOperationResponse": {
        "properties": {
          "operation_id": {
            "type": "string",
            "title": "Operation Id",
            "description": "ID of the created operation."
          }
        },
        "type": "object",
        "required": [
          "operation_id"
        ],
        "title": "CreateOperationResponse",
        "description": "Response returned after successfully creating an operation.",
        "examples": [
          {
            "operation_id": "flatlay_op-2d77fc78-06ef-434a-a016-03d819249605"
          }
        ]
      },
      "FlatLayImageType": {
        "properties": {
          "flat_lay_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FlatLayType"
              }
            ],
            "description": "Layout style of the flat-lay image (e.g., flat, ghost mannequin, detail view)."
          },
          "viewpoint": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FlatLayViewpointType"
              }
            ],
            "description": "View direction for the image (e.g., front or back)."
          }
        },
        "type": "object",
        "required": [
          "flat_lay_type",
          "viewpoint"
        ],
        "title": "FlatLayImageType",
        "description": "Specifies a flat-lay product image style, defined by layout type and viewpoint."
      },
      "FlatLayType": {
        "type": "string",
        "enum": [
          "flat",
          "ghost_mannequin",
          "detail"
        ],
        "title": "FlatLayType",
        "description": "Specifies the style of a flat-lay product image.\n- `flat`: a traditional top-down flat-lay presentation of the item.\n- `ghost_mannequin`: a simulated 3D look by removing the mannequin, preserving garment shape.\n- `detail`: a close-up view highlighting textures, materials, or stitching."
      },
      "FlatLayViewpointType": {
        "type": "string",
        "enum": [
          "front",
          "back"
        ],
        "title": "FlatLayViewpointType",
        "description": "Direction from which the flat-lay image should be rendered."
      },
      "GenerateFlatLayImageOperation": {
        "properties": {
          "product_info": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SkuProductInfo"
              },
              {
                "type": "null"
              }
            ],
            "description": "Structured product data. See `SkuProductInfo` for details."
          },
          "sku_item_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sku Item Id",
            "description": "SKU item ID."
          },
          "operation_priority": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OperationPriority"
              }
            ],
            "description": "Specifies whether the operation should be processed online (real-time with automatic QA) or offline (batch with manual QA).",
            "default": "online"
          },
          "background_settings": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BackgroundSettings"
              }
            ],
            "description": "Configuration for background generation. See `BackgroundSettings` for details on supported types and related fields."
          },
          "output_image_size": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ImageSize"
              },
              {
                "type": "null"
              }
            ],
            "description": "Desired final dimensions of the output images. If not provided, a default internal size is used. This parameter guides the image normalization logic to produce outputs that match the requested width and height."
          },
          "output_image_paddings": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ImagePaddings"
              },
              {
                "type": "null"
              }
            ],
            "description": "Desired padding around the generated object in the final images. Used by the image normalization logic to ensure consistent spacing around each output image. If omitted, padding will not be enforced and will simply reflect the naturally generated result."
          },
          "image_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FlatLayImageType"
              }
            ],
            "description": "Desired flat-lay product image type to generate. Refer to `FlatLayImageType`. "
          },
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Operation's ID"
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OperationStatus"
              }
            ],
            "description": "Current status of the operation"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error",
            "description": "Error details if the operation was failed. None means that there were no errors."
          },
          "generated_image": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AiutaImage"
              },
              {
                "type": "null"
              }
            ],
            "description": "Generation result for a flat-lay product image generation operation. May be absent if the operation is still in progress or encountered an error."
          }
        },
        "type": "object",
        "required": [
          "image_type",
          "id",
          "status",
          "error"
        ],
        "title": "GenerateFlatLayImageOperation",
        "description": "Represents a completed or in-progress operation for generating flat-lay product image.\n\nThis object combines the original generation request parameters with the result of the operation.\nIt allows tracking the output and progress of an image generation process using the same model configuration\nand requested image type.\n\nThe operation may be incomplete or errored, in which case the `generated_image` may be missing.",
        "examples": [
          {
            "background_settings": {
              "background_type": "arbitrary"
            },
            "generated_image": {
              "id": "gen_image-9305f69e-a236-4efc-a81b-16eb2969d402",
              "owner_type": "user",
              "url": "https://storage.googleapis.com/aiuta_prod_external_api_images/external_api/user/examples/flat_lays/flat_lay_candidate-94dd418b-28c7-4874-82c6-8ca8009f1d0a.png"
            },
            "id": "flatlay_op-fa32973b-c9b8-4c8a-9cc2-45a7158736fe",
            "image_type": {
              "flat_lay_type": "flat",
              "viewpoint": "front"
            },
            "operation_priority": "online",
            "sku_item_id": "sku_12345",
            "status": "SUCCESS"
          }
        ]
      },
      "GenerateFlatLayImageRequest": {
        "properties": {
          "product_info": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SkuProductInfo"
              },
              {
                "type": "null"
              }
            ],
            "description": "Structured product data. See `SkuProductInfo` for details."
          },
          "sku_item_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sku Item Id",
            "description": "SKU item ID."
          },
          "operation_priority": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OperationPriority"
              }
            ],
            "description": "Specifies whether the operation should be processed online (real-time with automatic QA) or offline (batch with manual QA).",
            "default": "online"
          },
          "background_settings": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BackgroundSettings"
              }
            ],
            "description": "Configuration for background generation. See `BackgroundSettings` for details on supported types and related fields."
          },
          "output_image_size": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ImageSize"
              },
              {
                "type": "null"
              }
            ],
            "description": "Desired final dimensions of the output images. If not provided, a default internal size is used. This parameter guides the image normalization logic to produce outputs that match the requested width and height."
          },
          "output_image_paddings": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ImagePaddings"
              },
              {
                "type": "null"
              }
            ],
            "description": "Desired padding around the generated object in the final images. Used by the image normalization logic to ensure consistent spacing around each output image. If omitted, padding will not be enforced and will simply reflect the naturally generated result."
          },
          "image_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FlatLayImageType"
              }
            ],
            "description": "Desired flat-lay product image type to generate. Refer to `FlatLayImageType`. "
          }
        },
        "type": "object",
        "required": [
          "image_type"
        ],
        "title": "GenerateFlatLayImageRequest",
        "description": "Request to generate a flat-lay product image for a clothing item.\n\nThe request specifies the desired flat-lay style (e.g., flat, ghost mannequin, detail)\nand viewpoint (e.g., front, back). The image can be generated either from inline `product_info`\nor from a previously created SKU via `sku_item_id`."
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ImagePaddings": {
        "properties": {
          "top": {
            "type": "integer",
            "title": "Top",
            "description": "Padding above the image content, in pixels"
          },
          "bottom": {
            "type": "integer",
            "title": "Bottom",
            "description": "Padding below the image content, in pixels"
          },
          "left": {
            "type": "integer",
            "title": "Left",
            "description": "Padding to the left of the image content, in pixels"
          },
          "right": {
            "type": "integer",
            "title": "Right",
            "description": "Padding to the right of the image content, in pixels"
          }
        },
        "type": "object",
        "required": [
          "top",
          "bottom",
          "left",
          "right"
        ],
        "title": "ImagePaddings",
        "description": "Padding around the image content, specified in pixels for each side"
      },
      "ImageSize": {
        "properties": {
          "width": {
            "type": "integer",
            "title": "Width",
            "description": "Width of the image in pixels"
          },
          "height": {
            "type": "integer",
            "title": "Height",
            "description": "Height of the image in pixels"
          }
        },
        "type": "object",
        "required": [
          "width",
          "height"
        ],
        "title": "ImageSize",
        "description": "Pixel dimensions of the image"
      },
      "JsonValue": {},
      "OffFigureProductImagesCapabilityReadinessItem": {
        "properties": {
          "image_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FlatLayImageType"
              }
            ],
            "description": "Requested off-figure product image variant."
          },
          "readiness": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuCapabilityReadiness"
              }
            ],
            "description": "Preparation status for this image variant."
          }
        },
        "type": "object",
        "required": [
          "image_type",
          "readiness"
        ],
        "title": "OffFigureProductImagesCapabilityReadinessItem",
        "description": "Readiness information for a specific requested off-figure product image variant."
      },
      "OnFigureImageType": {
        "properties": {
          "viewpoint": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OnFigureViewpointType"
              }
            ],
            "description": "Camera angle or viewpoint of the image."
          },
          "pose": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OnFigurePoseType"
              }
            ],
            "description": "Model pose to be shown in the image."
          }
        },
        "type": "object",
        "required": [
          "viewpoint",
          "pose"
        ],
        "title": "OnFigureImageType",
        "description": "Specifies an on-figure product image style, defined by viewpoint and model pose.\n\nThis object is used to specify the desired composition and perspective of a product image."
      },
      "OnFigurePoseType": {
        "type": "string",
        "enum": [
          "standing",
          "walking",
          "sitting",
          "leaning",
          "crouching_or_kneeling",
          "in_action",
          "close_up"
        ],
        "title": "OnFigurePoseType",
        "description": "Describes the posture or pose of the model in the image."
      },
      "OnFigureProductImagesCapabilityReadinessItem": {
        "properties": {
          "image_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OnFigureImageType"
              }
            ],
            "description": "Requested on-figure product image variant."
          },
          "readiness": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuCapabilityReadiness"
              }
            ],
            "description": "Preparation status for this image variant."
          }
        },
        "type": "object",
        "required": [
          "image_type",
          "readiness"
        ],
        "title": "OnFigureProductImagesCapabilityReadinessItem",
        "description": "Readiness information for a specific requested on-figure product image variant."
      },
      "OnFigureViewpointType": {
        "type": "string",
        "enum": [
          "front",
          "front_angled",
          "back",
          "back_angled",
          "side"
        ],
        "title": "OnFigureViewpointType",
        "description": "Camera angle or view direction for the image (e.g., front, side, back)."
      },
      "OperationPriority": {
        "type": "string",
        "enum": [
          "online",
          "offline"
        ],
        "title": "OperationPriority",
        "description": "Defines the operation priority.\n\n- `online`: processed as quickly as possible for real-time, user-facing requests.\n  Typically uses automatic AI-based quality assurance (QA).\n- `offline`: suited for batch processing where manual QA may be used to achieve higher quality."
      },
      "OperationStatus": {
        "type": "string",
        "enum": [
          "CREATED",
          "IN_PROGRESS",
          "PAUSED",
          "SUCCESS",
          "FAILED",
          "CANCELLED",
          "ABORTED"
        ],
        "title": "OperationStatus",
        "description": "Status for an operation"
      },
      "OwnerType": {
        "type": "string",
        "enum": [
          "user",
          "aiuta"
        ],
        "title": "OwnerType",
        "description": "Type of the image owner. It will be 'user' if the image was directly uploaded by the user or\nderived from a user upload (e.g., through a generation operation). Otherwise, it will be 'aiuta'.\nIn this case the image is not associated with users' personal data and does not belong to them."
      },
      "SkuAvailability": {
        "type": "string",
        "enum": [
          "in_stock",
          "out_of_stock",
          "preorder",
          "backorder"
        ],
        "title": "SkuAvailability",
        "description": "Commercial availability status of the SKU in the client's catalog.\n\nValues follow Google Merchant Center product data specification for the `availability` attribute:\nhttps://support.google.com/merchants/answer/6324448"
      },
      "SkuCapabilities-Input": {
        "properties": {
          "try_on": {
            "type": "boolean",
            "title": "Try On",
            "description": "Enables or disables Virtual Try-On for this SKU. Preparation progress is exposed via `SkuCapabilitiesReadiness.try_on`.",
            "default": false
          },
          "outfit_recommendations": {
            "type": "boolean",
            "title": "Outfit Recommendations",
            "description": "Enables or disables Outfit Recommendations for this SKU. When enabled, the SKU may be used in recommendation flows (subject to SKU availability in `SkuItem.merchandising`). Preparation progress is exposed via `SkuCapabilitiesReadiness.outfit_recommendations`.",
            "default": false
          },
          "off_figure_product_images": {
            "items": {
              "$ref": "#/components/schemas/FlatLayImageType"
            },
            "type": "array",
            "title": "Off Figure Product Images",
            "description": "List of requested off-figure product image variants to generate for this SKU. An empty list means that no off-figure product image variants are requested. Each requested variant is prepared independently; see `SkuCapabilitiesReadiness.off_figure_product_images`."
          },
          "on_figure_product_images": {
            "items": {
              "$ref": "#/components/schemas/OnFigureImageType"
            },
            "type": "array",
            "title": "On Figure Product Images",
            "description": "List of requested on-figure product image variants to generate for this SKU. An empty list means that no on-figure product image variants are requested. Each requested variant is prepared independently; see `SkuCapabilitiesReadiness.on_figure_product_images`."
          }
        },
        "type": "object",
        "title": "SkuCapabilities",
        "description": "Declares which features are enabled for this SKU.\n\nFor product image generation, capabilities are expressed as an explicit list of requested image variants.\nThe internal preparation process may depend on the specific requested image variants.\nEach requested variant has a corresponding readiness entry."
      },
      "SkuCapabilities-Output": {
        "properties": {
          "try_on": {
            "type": "boolean",
            "title": "Try On",
            "description": "Enables or disables Virtual Try-On for this SKU. Preparation progress is exposed via `SkuCapabilitiesReadiness.try_on`.",
            "default": false
          },
          "outfit_recommendations": {
            "type": "boolean",
            "title": "Outfit Recommendations",
            "description": "Enables or disables Outfit Recommendations for this SKU. When enabled, the SKU may be used in recommendation flows (subject to SKU availability in `SkuItem.merchandising`). Preparation progress is exposed via `SkuCapabilitiesReadiness.outfit_recommendations`.",
            "default": false
          },
          "off_figure_product_images": {
            "items": {
              "$ref": "#/components/schemas/FlatLayImageType"
            },
            "type": "array",
            "title": "Off Figure Product Images",
            "description": "List of requested off-figure product image variants to generate for this SKU. An empty list means that no off-figure product image variants are requested. Each requested variant is prepared independently; see `SkuCapabilitiesReadiness.off_figure_product_images`."
          },
          "on_figure_product_images": {
            "items": {
              "$ref": "#/components/schemas/OnFigureImageType"
            },
            "type": "array",
            "title": "On Figure Product Images",
            "description": "List of requested on-figure product image variants to generate for this SKU. An empty list means that no on-figure product image variants are requested. Each requested variant is prepared independently; see `SkuCapabilitiesReadiness.on_figure_product_images`."
          }
        },
        "type": "object",
        "title": "SkuCapabilities",
        "description": "Declares which features are enabled for this SKU.\n\nFor product image generation, capabilities are expressed as an explicit list of requested image variants.\nThe internal preparation process may depend on the specific requested image variants.\nEach requested variant has a corresponding readiness entry."
      },
      "SkuCapabilitiesReadiness": {
        "properties": {
          "try_on": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuCapabilityReadiness"
              }
            ],
            "description": "Preparation status of Virtual Try-On for this SKU."
          },
          "outfit_recommendations": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuCapabilityReadiness"
              }
            ],
            "description": "Preparation status of Outfit Recommendations for this SKU."
          },
          "off_figure_product_images": {
            "items": {
              "$ref": "#/components/schemas/OffFigureProductImagesCapabilityReadinessItem"
            },
            "type": "array",
            "title": "Off Figure Product Images",
            "description": "Preparation status per requested off-figure product image variant."
          },
          "on_figure_product_images": {
            "items": {
              "$ref": "#/components/schemas/OnFigureProductImagesCapabilityReadinessItem"
            },
            "type": "array",
            "title": "On Figure Product Images",
            "description": "Preparation status per requested on-figure product image variant."
          }
        },
        "type": "object",
        "required": [
          "try_on",
          "outfit_recommendations"
        ],
        "title": "SkuCapabilitiesReadiness",
        "description": "Current preparation status for each capability of the SKU.\n\nFor product image capabilities, readiness is reported per requested image variant.\nThe readiness lists are expected to correspond 1:1 to the requested variants in `SkuCapabilities`.\nEach readiness list contains at most one entry per requested variant."
      },
      "SkuCapabilityReadiness": {
        "properties": {
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuCapabilityReadinessStatus"
              }
            ],
            "description": "Current readiness status of the capability for this SKU."
          },
          "error_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Message",
            "description": "Optional human-readable error message if preparation failed. Intended for debugging and support; the message format is not guaranteed to be stable."
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "SkuCapabilityReadiness",
        "description": "Readiness state of a single capability, including optional error details."
      },
      "SkuCapabilityReadinessStatus": {
        "type": "string",
        "enum": [
          "absent",
          "preparing",
          "ready",
          "failed"
        ],
        "title": "SkuCapabilityReadinessStatus",
        "description": "Indicates the current preparation status of a capability for the SKU.\n\nTypical semantics:\n- `absent`: the capability is not enabled or not requested.\n- `preparing`: preparation is currently in progress.\n- `ready`: preparation completed successfully and the capability can be used.\n- `failed`: preparation failed; see `error_message` for details."
      },
      "SkuMerchandising": {
        "properties": {
          "availability": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuAvailability"
              }
            ],
            "description": "Current catalog availability of the SKU (e.g., in stock, out of stock). May influence outfit recommendation results and other business logic. Uses Google Merchant Center availability values.",
            "default": "in_stock"
          }
        },
        "type": "object",
        "title": "SkuMerchandising",
        "description": "Commercial attributes that affect how the SKU is used in downstream scenarios (e.g., recommendations).\nThese fields typically do not describe the product itself, but describe its sellability and catalog state."
      },
      "SkuProductInfo": {
        "properties": {
          "image_urls": {
            "anyOf": [
              {
                "items": {
                  "type": "string",
                  "maxLength": 2083,
                  "minLength": 1,
                  "format": "uri"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image Urls",
            "description": "List of up to 20 image URLs representing the product. Must not be used together with `uploaded_image_ids` - only one of the two fields may be provided. If specified in an input request, the images will be downloaded and stored internally. In operation status or result responses, this field is always present and contains internal image URLs, regardless of whether the original input used uploaded IDs or external URLs. If the images have not yet been downloaded - or if the download failed - this list may be empty."
          },
          "uploaded_image_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Uploaded Image Ids",
            "description": "List of 1 to 20 IDs of previously uploaded product images. Must not be used together with `image_urls` - only one of the two fields may be provided. This field is accepted in input requests only and will never appear in operation status or result responses. In such responses, internally stored image URLs corresponding to these IDs will be returned via the `image_urls` field of the `SkuProductInfo` object."
          },
          "category": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Category",
            "description": "Category of the item. Preferably use a structured taxonomy such as 'Apparel & Accessories > Clothing > Dresses' or 'Home > Women > Dresses > Maxi Dresses'. Refer to the Google product category list as a good example of clear, structured categorization: https://support.google.com/merchants/answer/6324436",
            "examples": [
              "Apparel & Accessories > Clothing > Dresses"
            ]
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title",
            "description": "Product title."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Product description."
          },
          "brand": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Brand",
            "description": "Product brand."
          },
          "store_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2083,
                "minLength": 1,
                "format": "uri"
              },
              {
                "type": "null"
              }
            ],
            "title": "Store Url",
            "description": "URL of the product page in the online store."
          },
          "color": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Color",
            "description": "Product color."
          },
          "gender": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SkuGender"
              },
              {
                "type": "null"
              }
            ],
            "description": "Product gender. Uses Google Merchant Center gender values."
          },
          "age_group": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SkuAgeGroup"
              },
              {
                "type": "null"
              }
            ],
            "description": "Product age group. Uses Google Merchant Center age_group values."
          },
          "extra": {
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonValue"
            },
            "type": "object",
            "title": "Extra",
            "description": "Client-specific product attributes stored and returned as-is. Values must be JSON-serializable. No schema is enforced by the API. The platform may use these attributes only for client-specific logic agreed during integration."
          }
        },
        "type": "object",
        "title": "SkuProductInfo",
        "description": "Describes the product represented by this SKU item.\n\nThis includes the product images along with optional metadata such as category, title, and description.\n\nMost fields are aligned with Google Merchant Center product data specification\n(https://support.google.com/merchants/answer/7052112) and use the same semantics where applicable.\n\nProviding structured and accurate product information helps improve the relevance and realism\nof the generated visuals."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "Outfit": {
        "properties": {
          "sku_item_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "minItems": 1,
            "title": "Sku Item Ids",
            "description": "Ordered list of SKU item IDs in the outfit."
          },
          "metadata": {
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonValue"
            },
            "type": "object",
            "title": "Metadata",
            "description": "Additional metadata associated with the outfit. May include system-generated or client-specific attributes agreed as part of the integration. Values must be JSON-serializable. No schema is enforced by the API."
          }
        },
        "type": "object",
        "required": [
          "sku_item_ids"
        ],
        "title": "Outfit"
      },
      "CreateSkuItemRequest": {
        "properties": {
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Client-defined identifier of the SKU item. Used as the primary identifier in the API (path and references). Must be unique within the client account. Immutable after creation."
          },
          "product_info": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuProductInfo"
              }
            ],
            "description": "Structured product data used by the platform to process the SKU."
          },
          "capabilities": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuCapabilities-Input"
              }
            ],
            "description": "Enabled capabilities and requested product image variants."
          },
          "merchandising": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuMerchandising"
              }
            ],
            "description": "Merchandising attributes such as stock availability that affect business logic."
          }
        },
        "type": "object",
        "required": [
          "item_id",
          "product_info"
        ],
        "title": "CreateSkuItemRequest",
        "description": "Request payload for creating a new SKU item in the platform.\n\nThe client provides a stable `item_id` that becomes the primary identifier of the SKU item in this API.\nThe SKU is created with structured `product_info` and an initial set of enabled `capabilities`.\nEnabling capabilities may trigger internal preparation.\nReadiness for each capability is reported in the resulting `SkuItem.capabilities_readiness`.\n\nNotes:\n- `item_id` must be unique within the client account and cannot be changed after creation.\n- `internal_id` is assigned by the platform and is not provided in this request.\n- If `capabilities` is omitted, all capabilities are disabled by default.\n- If merchandising is omitted (or provided as an empty object), availability defaults to `in_stock`."
      },
      "SkuAgeGroup": {
        "type": "string",
        "enum": [
          "newborn",
          "infant",
          "toddler",
          "kids",
          "adult"
        ],
        "title": "SkuAgeGroup",
        "description": "Target age group for the SKU (if applicable).\n\nValues follow Google Merchant Center product data specification for the `age_group` attribute:\nhttps://support.google.com/merchants/answer/6324463"
      },
      "SkuGender": {
        "type": "string",
        "enum": [
          "male",
          "female",
          "unisex"
        ],
        "title": "SkuGender",
        "description": "Target gender presentation for the SKU (if applicable).\n\nValues follow Google Merchant Center product data specification for the `gender` attribute:\nhttps://support.google.com/merchants/answer/6324479"
      },
      "SkuItem": {
        "properties": {
          "item_id": {
            "type": "string",
            "title": "Item Id",
            "description": "Client-defined identifier of the SKU item. Used as the primary identifier in the API (path and references). Must be unique within the client account. Immutable after creation."
          },
          "internal_id": {
            "type": "string",
            "title": "Internal Id",
            "description": "Platform internal identifier. Provided for debugging/support purposes only."
          },
          "product_info": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuProductInfo"
              }
            ],
            "description": "Structured product data used by the platform to process the SKU."
          },
          "capabilities": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuCapabilities-Output"
              }
            ],
            "description": "Enabled capabilities and requested product image variants."
          },
          "capabilities_readiness": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuCapabilitiesReadiness"
              }
            ],
            "description": "Operational readiness status (and error message if available) for each capability (absent/preparing/ready/failed)."
          },
          "merchandising": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SkuMerchandising"
              }
            ],
            "description": "Merchandising attributes such as stock availability that affect business logic."
          }
        },
        "type": "object",
        "required": [
          "item_id",
          "internal_id",
          "product_info",
          "capabilities",
          "capabilities_readiness"
        ],
        "title": "SkuItem",
        "description": "A SKU item registered in the platform.\nContains structured product information, enabled features (capabilities), and readiness status for each capability.\nUpdating SKU data or capabilities may trigger invalidation and re-processing of dependent features\n(so readiness status may change).\n\nOperations can only be requested when the corresponding capability has status `ready`:\n- Virtual Try-On requires `capabilities_readiness.try_on.status == \"ready\"`.\n- Outfit Recommendations requires `capabilities_readiness.outfit_recommendations.status == \"ready\"`.\n- Product Images require the readiness status to be `\"ready\"` for the specific requested image variant."
      }
    },
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "description": "Static API key",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "data",
      "description": "Input and generated images management - upload, retrieval and deletion"
    },
    {
      "name": "flat_lay",
      "description": "Flat lay product images generation"
    },
    {
      "name": "sku_items",
      "description": "Manage SKU items in the platform.\n\nCreating or updating a SKU may trigger asynchronous internal preparation (e.g., processing product assets or preparing enabled capabilities).\n\nPreparation progress is exposed via `SkuItem.capabilities_readiness`.\nReadiness may transition over time (e.g., `preparing -> ready`), and may return to `preparing` after updates if affected assets/capabilities need re-processing.\n\nClients should poll `GET /sku_items/{item_id}` until the required capability (or image variant) is `ready` before calling endpoints that depend on it. A capability (or image variant) is usable only when its readiness status is ready."
    },
    {
      "name": "recommendations",
      "description": "Recommendation endpoints.\n\nSome recommendation endpoints require the corresponding capability to be enabled and ready for a SKU item.\n\nOutfit recommendations require:\n- `SkuItem.capabilities.outfit_recommendations == true`\n- `SkuItem.capabilities_readiness.outfit_recommendations.status == \"ready\"`\n\nClients should poll `GET /sku_items/{item_id}` until readiness is `ready` before requesting recommendations."
    }
  ]
}