:root > * {
  --md-footer-bg-color: var(--md-primary-fg-color);
  --md-footer-bg-color--dark: var(--md-primary-fg-color);
}

.cl-brand {
  color: #4000FF;
}

.cl-primary {
  color: #000000;
}

.cl-secondary {
  color: #9F9F9F;
}

.cl-on-dark {
  color: #FFFFFF;
}

.cl-on-light {
  color: #000000;
}

.cl-background {
  color: #FFFFFF;
}

.cl-screen {
  color: #000000;
}

.cl-neutral {
  color: #F2F2F7;
}

.cl-border {
  color: #E5E5EA;
}

.cl-outline {
  color: #C7C7CC;
}

.cl-selection-background {
  color: #000000;
}

.cl-error-background {
  color: #EF5754;
}

.cl-error-primary {
  color: #FFFFFF;
}

.cl-discounted-price {
  color: #FB1010;
}

.cl-aiuta {
  color: #4000FF;
}

.cl-on-dark,
.cl-background {
  background-color: hsla(225deg,15%,14%,1);
  border-radius: 6px;
}

.cl-error-primary {
  background-color: #EF5754;
  border-radius: 4px;
  padding-top: 2px;
}

.cl-brand,
.cl-primary,
.cl-secondary,
.cl-on-light,
.cl-screen,
.cl-neutral,
.cl-border,
.cl-outline,
.cl-selection-background,
.cl-error-background,
.cl-discounted-price,
.cl-aiuta {
  border-radius: 4px;
}
