
@font-face {
    font-family: Lynstone v1;
    src: url(/static_content/onesitecategory/components/mfe/_next/static/media/lynstone_web_book.d0591bcf.woff2) format("woff2");
    font-display: swap;
    font-weight: 350;
    font-style:normal
}

@font-face {
    font-family: Lynstone v1;
    src: url(https://bananarepublic.gap.com/static_content/onesitecategory/components/mfe/_next/static/media/LynstoneWeb-SemiBold.3d4fcb3a.woff2) format("woff2");
    font-display: swap;
    font-weight: 600;
    font-style:normal
}

@font-face {
    font-family: Banana v1;
    src: url(https://bananarepublic.gap.com/static_content/onesitecategory/components/mfe/_next/static/media/banana_text_regular.e9839295.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style:normal
}

@font-face {
    font-family: Lynstone;
    src: url(https://bananarepublic.gap.com/static_content/onesitecategory/components/mfe/_next/static/media/LynstoneWeb-Book.d0591bcf.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style:normal
}

@font-face {
    font-family: Lynstone;
    src: url(https://bananarepublic.gap.com/static_content/onesitecategory/components/mfe/_next/static/media/LynstoneWeb-SemiBold.3d4fcb3a.woff2) format("woff2");
    font-display: swap;
    font-weight: 600;
    font-style:normal
}

@font-face {
    font-family: "BananaSerif";
    src: url(https://bananarepublic.gap.com/static_content/onesitecategory/components/mfe/_next/static/media/BananaText-Regular.e9839295.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style:normal
}

@font-face {
    font-family: "BananaSerif";
    src: url(https://bananarepublic.gap.com/static_content/onesitecategory/components/mfe/_next/static/media/Banana-Regular.4f4bb312.woff2) format("woff2");
    font-display: swap;
    font-weight: 300;
    font-style:normal
}

@font-face {
    font-family: "BananaSerif";
    src: url(https://bananarepublic.gap.com/static_content/onesitecategory/components/mfe/_next/static/media/Banana-Italic.ea851a64.woff2) format("woff2");
    font-display: swap;
    font-weight: 300;
    font-style:italic
}



:root {
    --aiuta-typeface: Lynstone;
/*    --aiuta-color-brand: #4000ff;
    --aiuta-color-primary: brown;
    --aiuta-color-secondary: green;
    --aiuta-color-background: #e5e5ea;
    --aiuta-color-neutral: lightgray;
    --aiuta-color-border: black;*/
}

.aiuta-app--desktop {
    top: 124px;
}
